/* You can add global styles to this file, and also import other style files */
/* Master Styles */
*{
	margin: 1rem;
}
h1 {
  color: #369; 
  font-size: 250%;
}
h2, h3 { 
  color: #444;
  font-weight: lighter;
}
body { 
  margin: 2em; 
}
body, input[text], button { 
  color: #888; 
}

input{
	width: 20rem;
	height: 2rem;
}
section{
	background-color: lightcoral;
}
